
ShaguTweaks-tbc/config.lua
ShaguTweaks-tbc/helpers.lua
ShaguTweaks-tbc/.github/FUNDING.yml
ShaguTweaks-tbc/img/circleparty.tga
ShaguTweaks-tbc/img/circleraid.tga
ShaguTweaks-tbc/img/UI-Classes-Circles.tga
ShaguTweaks-tbc/img/UI-Player-Status.tga
ShaguTweaks-tbc/img/UI-TargetingFrame-Elite.tga
ShaguTweaks-tbc/img/UI-TargetingFrame-Rare.tga
ShaguTweaks-tbc/img/UI-TargetingFrame.tga
ShaguTweaks-tbc/libs/libcast.lua
ShaguTweaks-tbc/libs/libdebuff.lua
ShaguTweaks-tbc/libs/libhealth.lua
ShaguTweaks-tbc/libs/libnameplate.lua
ShaguTweaks-tbc/libs/libpredict.lua
ShaguTweaks-tbc/libs/libspell.lua
ShaguTweaks-tbc/libs/libtipscan.lua
ShaguTweaks-tbc/libs/libunitscan.lua
ShaguTweaks-tbc/LICENSE
ShaguTweaks-tbc/locales/locales_deDE.lua
ShaguTweaks-tbc/locales/locales_enUS.lua
ShaguTweaks-tbc/locales/locales_esES.lua
ShaguTweaks-tbc/locales/locales_frFR.lua
ShaguTweaks-tbc/locales/locales_koKR.lua
ShaguTweaks-tbc/locales/locales_ruRU.lua
ShaguTweaks-tbc/locales/locales_zhCN.lua
ShaguTweaks-tbc/main.lua
ShaguTweaks-tbc/mods/auto-dismount.lua
ShaguTweaks-tbc/mods/auto-stance.lua
ShaguTweaks-tbc/mods/blue-shaman.lua
ShaguTweaks-tbc/mods/chat-links.lua
ShaguTweaks-tbc/mods/chat-tweaks.lua
ShaguTweaks-tbc/mods/cooldown-numbers.lua
ShaguTweaks-tbc/mods/custom.lua
ShaguTweaks-tbc/mods/dark-ui-elements.lua
ShaguTweaks-tbc/mods/equip-compare.lua
ShaguTweaks-tbc/mods/health-color.lua
ShaguTweaks-tbc/mods/health-numbers.lua
ShaguTweaks-tbc/mods/hide-errors.lua
ShaguTweaks-tbc/mods/hide-gryphons.lua
ShaguTweaks-tbc/mods/improved-castbar-old.lua
ShaguTweaks-tbc/mods/item-colors.lua
ShaguTweaks-tbc/mods/minimap-clock.lua
ShaguTweaks-tbc/mods/minimap-square.lua
ShaguTweaks-tbc/mods/minimap-tweaks.lua
ShaguTweaks-tbc/mods/move-unitframes.lua
ShaguTweaks-tbc/mods/nameplate-classcolor.lua
ShaguTweaks-tbc/mods/nameplate-scale.lua
ShaguTweaks-tbc/mods/reduced-actionbar.lua
ShaguTweaks-tbc/mods/sell-junk.lua
ShaguTweaks-tbc/mods/social-colors.lua
ShaguTweaks-tbc/mods/target-castbar.lua
ShaguTweaks-tbc/mods/target-debufftimer.lua
ShaguTweaks-tbc/mods/tooltip-details.lua
ShaguTweaks-tbc/mods/turtle-health.lua
ShaguTweaks-tbc/mods/unitframes-bighealth.lua
ShaguTweaks-tbc/mods/unitframes-classcolor.lua
ShaguTweaks-tbc/mods/unitframes-classportrait.lua
ShaguTweaks-tbc/mods/vendor-values.lua
ShaguTweaks-tbc/mods/worldmap-colors.lua
ShaguTweaks-tbc/mods/worldmap-coordinates.lua
ShaguTweaks-tbc/mods/worldmap-window.lua
ShaguTweaks-tbc/README.md
ShaguTweaks-tbc/screenshots/bighealthclass.jpg
ShaguTweaks-tbc/screenshots/castbars.jpg
ShaguTweaks-tbc/screenshots/dark.jpg
ShaguTweaks-tbc/screenshots/debufftimers.jpg
ShaguTweaks-tbc/screenshots/settings.jpg
ShaguTweaks-tbc/screenshots/menu.jpg
ShaguTweaks-tbc/ShaguTweaks.toc
