
config.lua
helpers.lua
.github/FUNDING.yml
img/circleparty.tga
img/circleraid.tga
img/UI-Classes-Circles.tga
img/UI-Player-Status.tga
img/UI-TargetingFrame-Elite.tga
img/UI-TargetingFrame-Rare.tga
img/UI-TargetingFrame.tga
libs/libcast.lua
libs/libdebuff.lua
libs/libhealth.lua
libs/libnameplate.lua
libs/libpredict.lua
libs/libspell.lua
libs/libtipscan.lua
libs/libunitscan.lua
LICENSE
locales/locales_deDE.lua
locales/locales_enUS.lua
locales/locales_esES.lua
locales/locales_frFR.lua
locales/locales_koKR.lua
locales/locales_ruRU.lua
locales/locales_zhCN.lua
main.lua
mods/auto-dismount.lua
mods/auto-stance.lua
mods/blue-shaman.lua
mods/chat-links.lua
mods/chat-tweaks.lua
mods/cooldown-numbers.lua
mods/custom.lua
mods/dark-ui-elements.lua
mods/equip-compare.lua
mods/health-color.lua
mods/health-numbers.lua
mods/hide-errors.lua
mods/hide-gryphons.lua
mods/improved-castbar-old.lua
mods/item-colors.lua
mods/minimap-clock.lua
mods/minimap-square.lua
mods/minimap-tweaks.lua
mods/move-unitframes.lua
mods/nameplate-classcolor.lua
mods/nameplate-scale.lua
mods/reduced-actionbar.lua
mods/sell-junk.lua
mods/social-colors.lua
mods/target-castbar.lua
mods/target-debufftimer.lua
mods/tooltip-details.lua
mods/turtle-health.lua
mods/unitframes-bighealth.lua
mods/unitframes-classcolor.lua
mods/unitframes-classportrait.lua
mods/vendor-values.lua
mods/worldmap-colors.lua
mods/worldmap-coordinates.lua
mods/worldmap-window.lua
README.md
screenshots/bighealthclass.jpg
screenshots/castbars.jpg
screenshots/dark.jpg
screenshots/debufftimers.jpg
screenshots/settings.jpg
screenshots/menu.jpg
ShaguTweaks.toc
